/* NAVBAR */
header{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar-brand{
    margin-left: 2%;
}

.lpic{
    height: 30px;
    width: 30px;
    margin-right: 5%;
}

.navbar-toggler{
    margin-right: 3%;
}

.navbar-nav{
    margin-right: 5%;
}

.nav-item{
    margin-left: 4%;
}

/* HOME */
#home{
    height: 100vh;
    background-color: rgb(61,168,233);
    color: white;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

#home .row{
    padding: 20% 10%;
}

.col-lg-6{
    height: 40vh;
}

.hheading{
    font-size: 10vh;
}

.htitle{
    font-size: 4vh;
}

.hpara{
    font-size: 3vh;
}

.image{
    width: 40%;
}

.hpic{
    height: 90%;
    width: 90%;
}

/* BLOG */
#blog{
    padding: 5%;
}

.btitle{
    text-align: center;
    margin-bottom: 5%;
}

#bitem{
    list-style-type: none;
}

.bmain{
    font-size: 7vh;
}


/* SEARCH */
#search{
    background-color: rgb(61,168,233);
}

#search .container{
    padding: 6% 3%;
    color: white;
}

.input-group{
    z-index: 0;
}

label{
    color: white;
}

.sbtn{
    text-align: center;
}

.uname{
    font-size: 6vh;
    margin-bottom: 3%;
}

#data{
    margin-top: 3%;
}

form{
    margin-top: 3%;
}

.pbtn{
    margin: 3%;
}

/* CONTACT */
footer{
    height: 50vh;
    text-align: center;
}

.info{
    padding-top: 10%;
}

.flogo{
    height: 70px;
    width: 70px;
}

.line{
    margin: 2% 0%;
}

.icon{
    font-size: 3vh;
    margin-left: 1%;
}

.copy{
    margin-top: 1%;
    font-size: 1.7vh;
}